[submodule ".tmux"]
	path = .tmux
	url = git@github.com:lebibin/.tmux.git
[submodule "zsh"]
	path = zsh
	url = https://github.com/dracula/zsh.git
[submodule "xcode"]
	path = xcode
	url = https://github.com/dracula/xcode.git
[submodule "iterm"]
	path = iterm
	url = https://github.com/dracula/iterm.git
