[user]
  name = Kevin Candelaria
  email = kevdashdev@gmail.com
[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  df = diff --color-words
  lc = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[apply]
  whitespace = nowarn
[core]
  excludesfile = ~/.gitignore
  editor = vim
[push]
        # See `git help config` (search for push.default)
        # for more information on different options of the below setting.
        #
        # Setting to git 2.0 default to surpress warning message
  default = simple
